*{
	margin:0;
	padding:0;
}

:root{
	scroll-behavior: smooth;
}

body{
	font-family: 'Markazi Text', serif;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 40px 0;
}

header{
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(imagen/fondo5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

/*FONDO*/

body{
	background-image: radial-gradient(circle at 58.65% 31.46%, #ffffc4 0, #ffffb7 16.67%, #fff2ab 33.33%, #f2d49d 50%, #d5b890 66.67%, #baa085 83.33%, #a28c7a 100%);
}
/*
body{
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(imagen/img4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}*/

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10%;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 6px rgba(0, 0, .5);
	font-size: 25px;
}

/**/

ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
.nav li a {
	color:#fff;
	text-decoration:none;
	padding:8px 10px;
	display:block;
	font-size: 25.5px;
}
			
.nav li a:hover {
	background-color:#fcad56;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-1000px;
	top:0px;
}
			
/**/

h1:hover{
	color: yellow;
}

.enlaces a:hover{
	color: yellow;
}

h2:hover{
	color: #36c213;
}

h3:hover{
	color: #F28411;
}

h4:hover{
	color: #8CD600;
}

h6:hover{
	color: #009E49;
}

.menu a{
	color: #fff;
	text-decoration: none;
}

.menu a:hover{
	color: black;
}

.titulo{
	font-size: 100px;
	margin-bottom: 15px;
}

.copy{
	font-weight: 300;
	font-size: 30px;
}

/*TIPOS DE VIOLENCIA*/

.subtitulo{
	text-align: center;
	font-weight: 300;
	color: #D30547;
	margin-bottom: 40px;
	font-size: 50px;
}

.contenedor-quees{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.img20{
	width: 50%;
	float: center;
}

.que_es{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

/**/

.sub{
	font-weight: 300;
	font-size: 35px;
	color: #9E2387;
}

.subt{
	font-weight: 300;
	font-size: 25px;
	color: #1EAE98;
}

.subti:hover{
	color: #0072c6;
}

.subti{
	color: #009e60;
	
}

/*Violencia de género*/

.contenedor-tipos{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}


.tipos{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

.imag1{
	height:340px;
	width: 340px;
	float: right;
	padding: 5px 40px;
}

.imag2{
	height:340px;
	width: 370px;
	float: left;
	padding: 5px 40px;
}

.imag3{
	height:320px;
	width: 420px;
	float: right;
	padding: 50px;
}

.imag4{
	height:250px;
	width: 340px;
	float: left;
	padding: 10px 40px;
}

.imag5{
	height:340px;
	width: 360px;
	float: right;
	padding: 5px 40px;
}

.imag6{
	height:270px;
	width: 400px;
	float: left;
	padding: 1px 40px;
}

.imag7{
	height:340px;
	width: 420px;
	float: right;
	padding: 5px 30px;
}

.imag8{
	height:340px;
	width: 360px;
	float: left;
	padding: 5px 40px;
}

.imag9{
	height:330px;
	width: 370px;
	float: right;
	padding: 5px 40px;
}

.imag10{
	height:330px;
	width: 400px;
	float: left;
	padding: 5px 40px;
}

.imag11{
	height:340px;
	width: 400px;
	float: right;
	padding: 5px 40px;
}

.imag12{
	height:300px;
	width: 420px;
	float: left;
	padding: 1px 40px;
}

.imag13{
	height:360px;
	width: 400px;
	float: right;
	padding: 5px 30px;
}

.img6{
	height:250px;
	width: 400px;
	float: right;
	padding: 40px;
}

.img7{
	height:250px;
	width: 400px;
	float: left;
	padding: 40px;
}

.img1{
	height:250px;
	width: 380px;
	float: left;
	padding: 50px;
}

.img2{
	height:250px;
	width: 400px;
	float: left;
	padding: 10px;
}

.img3{
	height:400px;
	width: 400px;
	float: left;
	padding: 20px;
}

.img4{
	height:250px;
	width: 400px;
	float: left;
	padding: 30px;
}

.letra p:hover{
	font-size: 30px;
}

/*HOMBRES*/

.contenedor-hombre{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.hombre{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

/*MUJERES*/

.contenedor-mujer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.mujer{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

/*FAMILIAR*/

.contenedor-familiar{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.familiar{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

/*QUÉ HACER*/

.contenedor-quehacer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.quehacer{
	font-weight: 300;
	font-size: 25px;
	color: black;
}

/*A QUIEN ACUDIR*/

.contenedor-acudir{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.acudir{
	font-weight: 300;
	font-size: 25px;
	color: black;
}



/*footer*/

footer{
	background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
	padding: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;
}

.contact-us{
	width: 50%;
	color: #fff;
}

.brand{
	font-weight: 500;
	font-size: 40px;
}

.brand+p{
	font-variant: 500;
}

.social-media{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.social-media-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
}

.line{
	width: 90%;
	max-width: 12000px;
	margin: 0 auto;
	height: 2px;
	background: #fff;
	margin-bottom: 60px;
}

h5:hover{
	color: #003F87;
	font-size: 50px;
}
